//  *********************************************************************
//  =fancy sidebar
//
//  Author : @douglasdeodato
//  Project: fancy sidebar
//  Date   : 15/07/2016
//  Version: package.json
//  *********************************************************************/


.sidebar-shrink {
  height: 100%;
  overflow-y: auto;
  background: palette(black);
}

.magic-container {
  &.closed .sidebar-left-nav {
    @include transition(width 0.3s);
    width: 0;
    padding: 0;
  }
  &.closed .col-md-10 {
    @include transition(width 0.3s);
    width: 100%;
  }

}
