.menu {
  overflow-x: hidden;
  position: relative;
  left: 0;
  margin-top: 50px;
}

.menu-open {
  left: 15%;
}

.menu-open .sidebar {
  left: 0;
}

.sidebar,
.menu {
  transition: left 200ms ease;
}

.sidebar {
  background-color: #333;
  border-right: 1px solid #000;
  color: #fff;
  position: fixed;
  top: 50px;
  left: -330px;
  width: 15%;
  height: 100%;
  padding: 10px;
}

.size-42 {
  font-size: 42px;
}

.menu-open .content {
  width: 83%;
}
